.container {
  width: 140px;
  height: 46px;
  flex-shrink: 0;
  font-weight: 800;
  margin-right: 44rem;
}

.navbarBtn {
  height: 48px;
  width: 217px;
  font-size: 18px;
}

.headerContainer {
  max-width: 100% !important;
}

.btn {
  border: 1.5px solid #f1c086;
  border-radius: 8px;
  text-decoration: none;
  background: none;
  color: #fff;
  font-size: 18px !important;
  height: 48px !important;
  width: 217px !important;
  line-height: 30px;
  font-weight: 800;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: inherit;
}

.btn:hover {
  color: black !important;
  background-color: #f1c086;
  opacity: 0.9;
}

.homeContainer {
  width: 70%;
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navContainer {
  margin-top: 32px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly !important;
}
